In [1]:
import pandas as pd
from libs.players import *
from libs.games import *

In [2]:
players = [
    Player('Alice', 50, 50, 50, 50, 50, 50),
    Player('Bob', 50, 50, 50, 50, 50, 50),
]

# shot modeling

# league modeling

In [3]:
from libs.players import create_random_players
from libs.games import league

In [18]:
players = create_random_players(2)

In [12]:
players = [
    Player('Alice', 10, 10, 10, 10, 10, 10),
    Player('Bob', 100, 100, 100, 100, 100, 100),
]

In [19]:
game_set = league(players, 10000)
res = game_set.simulate()
res['winner'].value_counts()

winner
Player_2    6001
Player_1    3999
Name: count, dtype: int64

In [20]:
players[0].show_skills()

Name           : Player_1
Shot Speed     : 49.42
Puck Control   : 45.83
Attacks        : 47.35
Deceptions     : 49.11
Reflexes       : 52.49
Blocking       : 63.60
Total Skill    : 307.79

In [21]:
players[1].show_skills()

Name           : Player_2
Shot Speed     : 48.24
Puck Control   : 60.20
Attacks        : 55.18
Deceptions     : 51.13
Reflexes       : 53.30
Blocking       : 60.81
Total Skill    : 328.87

In [22]:
players[0].stats

{'shots': 303597,
 'on_targets': 149054,
 'deceptions': 74154,
 'read_blocks': 45311,
 'speedy': 53543,
 'catches': 125273,
 'goals': 53543}

In [23]:
players[1].stats

{'shots': 324078,
 'on_targets': 167371,
 'deceptions': 84381,
 'read_blocks': 40232,
 'speedy': 60326,
 'catches': 131125,
 'goals': 60326}

In [11]:
res

       Player1  Player1_Score   Player2  Player2_Score    winner
0     Player_2              7  Player_1              5  Player_2
1     Player_2              7  Player_1              4  Player_2
2     Player_1              5  Player_2              7  Player_2
3     Player_1              6  Player_2              7  Player_2
4     Player_1              1  Player_2              7  Player_2
...        ...            ...       ...            ...       ...
9995  Player_1              7  Player_2              5  Player_1
9996  Player_1              7  Player_2              4  Player_1
9997  Player_1              3  Player_2              7  Player_2
9998  Player_2              3  Player_1              7  Player_1
9999  Player_2              7  Player_1              4  Player_2

[10000 rows x 5 columns]